li {
    padding: 5px;
    margin: 5px;
    background: #63115f;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  #button {
    width: 150px;
    height: 45px;
    border-radius: 5px;
  }
  
  #ca {
    border-radius: 5px;
  }
  
  #burgerImg {
    width: 25px;
    height: 25px;
  }